.page *
  font-family: 'Fira Mono', monospace

.page
  padding: 15px

.characterList
  display: block

.character
  display: inline-block
  transition: 150ms ease-in-out opacity

  & + &
    margin-left: 15px

.characterInactive
  opacity: .25


.table
  font-size: 14px
  border-collapse: collapse
  width: 100%

.row
  vertical-align: top

  > td
    border-bottom: 1px solid lighten(#1E2125, 20%)
    padding: 10px

.objectives
  max-width: 500px
